/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/data
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/bin/*
!/bin/console
/vendor/
/web/bundles/
/web/css/
/web/js/
/web/images/*
/web/fonts/
app/Resources/certs/
deployment/vagrant/.vagrant*