<p>You've earned a Powerline Reward!</p>
<p>
    Thanks for being a champion of democracy and community engagement. Your referral code has been used three times,
    which means you've just earned your own reward code {{ discountCode.code }}. You can apply this code by going to your
    Group Profile, Click "Manage Group", and tap on the Subscription Level (e.g. Silver) you would like to use it on.
    It's worth 3 free months of Powerline service!
</p>
<p>
    Leaders help create more leaders, and we're thrilled that you've been helping to create more Powerline leaders. Keep
    sharing your referral code and earn more free subscriptions! Thank you!
</p>
