<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
        backupGlobals               = "false"
        backupStaticAttributes      = "false"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
        processIsolation            = "true"
        stopOnFailure               = "false"
        syntaxCheck                 = "false"
        bootstrap                   = "bootstrap.php.cache" >

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>../src/Civix/*Bundle/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <blacklist>
            <directory>../vendor</directory>
            <directory>../app</directory>
            <directory>../web</directory>
        </blacklist>
    </filter>

    <listeners>
        <listener class="Civix\CoreBundle\Tests\CacheClearListener" />
    </listeners>

</phpunit>
