{% extends 'CivixFrontBundle::layout.html.twig' %}

{% block page_title %}Superuser login{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Login</h1>
        <form class="form-horizontal" action="{{ path('civix_front_superuser_login_check') }}" method="POST">
            {% if error %}
                <div class="alert alert-error">{{ error.message }}</div>
            {% endif %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
            <div class="form-group">
                <label class="col-sm-2 control-label" for="username">Username</label>
                <div class="col-sm-10 col-md-3">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="password">Password</label>
                <div class="col-sm-10 col-md-3">
                    <input type="password" id="password" name="_password" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary" type="submit" name="login" value="Sign In" />
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
